/*コメントアウト方法*/
/*
h1 a, h2 a {
    color: #C25100;
    font-family: 'Lobster';
}
*/
/*
h1 a はCSSセレクタと呼ばれるものです。 
これは、h1要素内のa要素にスタイルを適用していることを意味します。 
h2 aセレクタは、h2要素に対して同じことを行います。 
よって (htmlファイルにて) <h1><a href="">link</a></h1>となっているとき、 
h1 a スタイルが適用されます。 この場合、その要素を #C25100 に、つまり濃いオレンジ色にしようとしています。
*/
/*
body {
    padding-left: 15px;
}
*/

* {
    margin: 0;
    padding: 0;
}

/*body {
    margin: 0;
    padding: 0;
}*/

.page-header {
    /*background-color: #C25100;*/
    /*background-color: #000000;*/
    /*background-color: #6e6e6e;*/
    background-color: #1c2130;
    /*background-color: #8d4d41;*/
    /*margin-top: 0;*/
    margin: 0;
    padding: 20px 20px 20px 40px;
    padding: 20px 0px 20px 40px;
    /* ↑, →, ↓, ← */
    /*padding: 0;*/
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    /*color: #ffffff;*/
    color: #adc0ff;
    font-size: 40pt;
    /*font-size: 26pt;*/
    text-decoration: none;
}


/*https://allabout.co.jp/gm/gc/23796/*/
/*↑余白に関して*/

.content {
    /*background-color: #6e6e6e;*//**/
    /*background-color: #1c2130;*/
    background-color: #53596d;

    /*margin-left: 40px;*/
    /*margin-left: 0px;*/
    /*margin-top: 0;*/
    margin: 0;
    /*padding: 20px 20px 20px 40px;*/
    /*padding: 100%:*/
    width: 100%;/*これによりcontent右となりの謎余白を削除することができた*/
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    padding-top: 30px;
    color: #828282;
    

    /*margin: 0;
    padding: 0;*/
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    /*background-color: #6e6e6e;*/
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    /*color: #000000;*/
    /*background-color: #6e6e6e;*//**/
    float: right;
    /*clear: right;*/
    /*float: left;*/
    font-size: 26pt;
    margin-right: 20px;
    /*margin-right: 0;*/
    /*margin: 0;*/
}

.post {
    /*background-color: #6e6e6e;*//**/
    margin-bottom: 70px;
    /*color: #a3b2db;*/
    color: #adc0ff;
    /*margin-bottom: 0;*/
}

.post h2 a, .post h2 a:visited {
    /*color: #000000;*/
    color: #adc0ff;
    /*color: #ffffff;*/
}

.comment {
    margin: 20px 0px 20px 20px;
    /*margin: 20px 0px 20px 20px;*/
    /*margin-bottom: 0;*/
    height: 100%;/*コメントしたの余白を解消*/
    color: #adc0ff;
}